<header>
 <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand d-none d-md-block" href="/home" th:text="#{application.name}"></a>
    <a class="navbar-brand d-block d-sm-block d-md-none" href="/home" th:text="#{application.name.short}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
    	aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
				role="button" data-toggle="dropdown" aria-haspopup="true" 
				aria-expanded="false" th:text="#{navbar.title.languages}">
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="?lang=es" th:text="#{navbar.spanish}"></a>
				<a class="dropdown-item" href="?lang=en" th:text="#{navbar.english}"></a>
			</div>
		</li>
		<li class="nav-item">
    		<a class="nav-link" href="#" th:text="#{navbar.title.graphs}"></a>
  		</li>
      </ul>
    </div>
  </nav>
</header>