<!DOCTYPE html>
<html class="h-100">
  <head th:replace="fragments/head.html"></head>
  <body class="d-flex flex-column h-100">
    
    <header th:replace="fragments/navbar.html"></header>
	
	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0">
	  <div class="container">
	    <h1 class="mt-5" th:text="#{body.welcome}"></h1>
	    <p th:text="#{body.msg1}"></p>
	    
	    <table class="table my-3">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">DEVICE</th>
		      <th scope="col">TEMPERATURE</th>
		      <th scope="col">HUMIDITY</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="message: ${messages}">
			    <td th:text="${message.id}" />
			    <td th:text="${message.idDevice}" />
			    <td th:text="${message.temperature}" />
			    <td th:text="${message.humidity}" />
			</tr>
		  </tbody>
		</table>
		
	  </div>
	</main>
	
	<footer class="footer mt-auto py-3">
	  <div class="container">
	    <span class="text-muted"><b th:text="#{footer.version}"></b> 0.1.0</span>
	  </div>
	</footer>

    <div th:replace="fragments/js.html"></div>
  </body>
</html>